@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import url("./Navbar.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif, "Poppins", sans-serif;
  margin: auto;
  background-color: #0c111b;
  display: flex;
  flex-direction: column;
  position: relative;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0c111b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 6px;
  background: linear-gradient(0deg, #1e3456 0%, #2c527e 105.38%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff7d65;
}
.input-div {
  position: relative;
  padding-bottom: 25px;
}
.err {
  color: red !important;
  font-size: 12px;
}
.err1 {
  margin-left: 10px;
  position: absolute;
  bottom: -2px;
}
.ant-input {
  width: 100%;
  border-radius: 16px;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.23);
  font-size: 16px;
  padding: 10px;
}
.ant-input:hover {
  border: 2px solid #ff7d65 !important;
}
.ant-input:focus {
  border: 2px solid #ff7d65 !important;
}
.ant-input-affix-wrapper {
  width: 100%;
  border-radius: 16px;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 10px;
}
.ant-input-affix-wrapper:hover {
  border: 2px solid #ff7d65 !important;
}
.ant-input-affix-wrapper:focus {
  border: 2px solid #ff7d65 !important;
}
.ant-input-affix-wrapper > input.ant-input {
  height: 80%;
  border-radius: 16px;
  padding: 5px;
  margin: auto !important;
  font-size: 16px;
}
.ant-input-affix-wrapper .ant-input-suffix {
  margin-right: 8px;
}
.ant-input-affix-wrapper > input.ant-input:hover {
  border: none !important;
  outline: none !important;
}
.ant-input-affix-wrapper > input.ant-input:focus {
  border: none !important;
  outline: none !important;
}
.ant-btn {
  background: #ff7d65;
  height: 42px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.31);
  border-radius: 16px;
  margin-top: 20px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffff;
}
.ant-btn-primary:not(:disabled):hover {
  background: #f7715a;
  height: 42px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.31);
  border-radius: 16px;
  margin-top: 20px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffff;
}
.ant-btn-default:not(:disabled):hover {
  background: #f7715a;
  height: 42px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.31);
  border-radius: 16px;
  margin-top: 20px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffff;
}

.spin {
  background-color: #0c111b !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-spin {
  color: #ffff;
}
.ant-spin .ant-spin-dot-item {
  background: #f7715a;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
