/* Navbar CSS Start */
.nav-Main {
  width: 100%;
  height: 9vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #263f61;
  position: fixed;
  z-index: 99;
}

.logo-container img {
  width: 150px;
  height: 44px;
  margin: 5px 0px 0px 50px;
}
.search-container {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search-container div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search-container .ant-btn {
  margin-top: 0px;
  height: 37px;
}
.search-container .ant-btn-primary:not(:disabled):hover {
  margin-top: 0px;
  height: 37px;
}
.search-container .ant-input {
  background-color: transparent !important;
  border: 1px solid #c7c5c5;
  border-right: none;
  margin-top: 0px;
  color: #ffffff;
  padding: 5px;
  padding-left: 10px;
  border-radius: 0;
}
.search-container .ant-input:hover {
  border: 1px solid #c7c5c5 !important;
  border-right: none;
}
.search-container .ant-input:focus {
  border: 1px solid #c7c5c5 !important;
  border-right: none;
}
.search-container ::-webkit-input-placeholder {
  color: #ffffff;
}
/* NavBar Css End */
.mobile {
  display: none;
}
.desktop {
  display: block;
}
/* Login Container CSS */

.login-container {
  width: 38%;
  padding: 30px;
  height: fit-content;
  background: linear-gradient(0deg, #ffffff, #ffffff);
  border: 1px solid #0000001a;
  border-radius: 16px;
  margin-top: 70px;
}

.login-container h2 {
  font-family: Helvetica Neue;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.23999999463558197px;
  text-align: left;
  color: #263238;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 650px) {
  .nav-Main {
    width: 100%;
    height: fit-content;
    flex-direction: column;
  }
  .login-container {
    width: 70%;
  }
  .login-container h2 {
    font-size: 25px;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .logo-container {
    width: 100%;
  }
  .search-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .search-container .ant-btn {
    padding: 11px;
  }
  .poster-container img {
    margin-top: 10vh !important;
  }
  .trending {
    font-size: 22px !important;
  }
}
/* Login Page End */

/* Home Page STARTS HERE */
.poster-container {
  width: 100%;
  margin-top: 10vh;
}
.poster-container img {
  width: 100%;
  height: 30vh;
  margin-top: 10px;
}
.trending {
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-left: 50px;
}
.movieCard-container {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 30px 10px;
  padding: 50px;
  margin: auto;
}
/* Home Page Ends here */

/* Movie Card Starts Here */
.card-container {
  width: 300px;
  height: fit-content;
  padding: 5px;
}
.img-container {
  width: 100%;
  height: 20vh;
}
.img-container img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.details-Container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(0deg, #1e3456 0%, #2c527e 105.38%);
  color: white !important;
}
.play {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.dc-1 {
  width: 65%;
  margin-left: 20px;
  margin-bottom: 20px;
}
.dc2 {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.details-Container h3 {
  width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis !important;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.ant-rate {
  font-size: 15px;
}
.pagianation-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
/* Movie Card Ends Here */

/* Pagination CSS Starts */
.ant-pagination .ant-pagination-item a {
  color: #ffffff;
}
.ant-pagination .ant-pagination-item-active a {
  color: #ff7d65;
  background-color: #0c111b;
}
.ant-pagination .ant-pagination-item-active a:hover {
  color: #ff7d65;
  background-color: #0c111b;
}
.ant-pagination .ant-pagination-item-active {
  border: none;
}
.ant-pagination .ant-pagination-next .ant-pagination-item-link {
  background-color: #0c111b;
}
.ant-pagination .ant-pagination-next:hover {
  background-color: #0c111b;
}
.ant-pagination .ant-pagination-prev .ant-pagination-item-link {
  background-color: #0c111b;
}
.ant-pagination .ant-pagination-prev:hover {
  background-color: #0c111b;
}
.ant-pagination .ant-pagination-item-active {
  background-color: transparent;
}
.ant-pagination .ant-pagination-item-active :hover {
  color: #ff7d65;
}
.ant-pagination .anticon svg {
  color: #ffffff;
}
/* Pagination Ends */

/* Details Page Css Starts Here */
.md-container {
  width: 100%;
  height: calc(100vh - 11vh);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 11vh;
  overflow-y: hidden;
}
.md-details-container {
  width: 45%;
  min-height: 100%;
  height: fit-content;
  background-color: #000000;
  color: #ffffff;
  padding-left: 60px;
  z-index: 0;
  box-shadow: 0px 0px 600px 300px black;
}
.md-details-container .arrow {
  margin-top: 70px;
  cursor: pointer;
}
.md-details-container h3 {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 50px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.md-details-container .ratings {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.description {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.md-image-container {
  width: 55%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.md-image-container .backgoundimg {
  width: 100%;
  min-height: 90vh;
}
.md-image-container .player {
  cursor: pointer;
}

.ant-modal .ant-modal-content {
  background-color: #263f61;
  padding: 10px 12px;
}

@media screen and (max-width: 650px) {
  .md-container {
    width: 100%;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .md-image-container {
    width: 100%;
    height: 60vh;
    margin: auto;
  }
  .md-details-container {
    width: 100%;
    height: fit-content;
    margin: auto;
    padding-bottom: 30px;
    padding-left: 0px;
  }
  .movieCard-container {
    padding: 0;
  }
  .trending {
    margin-left: 20px;
  }
}
/* Details page Ends here */
